header
{
    width: 2145px;
    height: 60px;
    line-height: 60px;
    margin: 0;
    background-color: rgb(98, 117, 127);
    padding-top: 25px;
    padding-bottom: 25px;
    color: whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header h1
{
    font-size: 3em;
    float: left;
    width: 40%;
    margin: 0;
}
header h1::before
{
    content: "\00a0\00a0\00a0";
}
header ul
{
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    font-size: 2em;
}
header nav ul li a:hover
{
    color: rgb(233, 59, 59);
}
header ul li
{
    display: inline-block;
    margin-left: 30px;
}
header a
{
    text-decoration: none;
    color: whitesmoke;
}
/* Box meilleur film */
.box1
{
    background-color: darkgray;
    display: flex;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    border: solid;
}
.top_film
{
    width: 30%;
    height: auto;
}
.titre_video
{
    margin-left: 10px;
    font-size: 3em;
    font-weight: bold;
}
.meilleurfilm
{
    font-size: 2em;
    width: 2145px;
    margin-top: 5%;
    margin-bottom: 100px;
    text-align: center;    
}
.titre_categorie
{
    font-size: 2em;
    width: 2145px;
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: center;
}
/* Carousels */
.carousel1, .carousel2, .carousel3, .carousel4
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.element img
{
    max-width: 300px;
    max-height: auto;
}
.element img:hover
{
    cursor: pointer;
}
/*Bouton de naviguation*/
.buttonnext
{
    margin-right: 200px;
}
.buttonprev
{
    margin-left: 200px;
}
.buttonnext img, .buttonprev img
{
    max-width: 150px;
    max-height: auto;
}
.buttonnext, .buttonprev
{
    background: none;
}

/* Fenêtre modale */
.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.4);
}
.modal_content
{
    background-color: grey;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation: animetest;
    animation-duration: 0.6s;
    overflow: auto;
}
@keyframes animetest {
    from {opacity: 0;}
    to {opacity: 1;}
}
.close
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Contenues Fenêtre modale */
.modal_movie_title
{
    position: fixed;
    margin-left: 45%;
    margin-top: -15px;
}
.movie_image
{
    float: left;
    height: auto;
    width: 25%;
    margin-right: 20px;
}
.model_body div
{
    margin-top: 20px;
}
.resume
{
    width: 80%;
}