html {background-color: rgba(0, 0, 0, 0.822)}
header
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 60px;
    line-height: 60px;
    background-color: rgb(26, 26, 26);
    padding-top: 25px;
    padding-bottom: 25px;
    color: whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0px 6px 18px 18px rgba(119, 119, 126, 0.2);
}

header h1
{
    font-size: 3em;
    float: left;
    margin: 0;
    margin-left: 5%;
}
header h1::before
{
    content: "\00a0\00a0\00a0";
}
header ul
{
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    font-size: 2em;
}
header nav ul li a:hover
{
    color: rgb(233, 59, 59);
}
header ul li
{
    display: inline-block;
    margin-left: 30px;
}
header a
{
    text-decoration: none;
    color: whitesmoke;
}
/* Box meilleur film */
.box1
{
    background-color: rgb(26, 26, 26);
    display: flex;
    margin-top: 90px;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 0px 6px 18px 18px rgba(119, 119, 126, 0.2);
}
.top_film
{
    width: 30%;
    height: auto;
}
.titre_video
{
    color:whitesmoke;
    margin-top: 10px;
    margin-left: 375px;
    margin-right: 25px;
    font-size: 3em;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.play
{
    font-size: 1.5em;
    background-color: red;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 460px;
    margin-right: 100px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.top_resume p
{
    color: whitesmoke;
    font-size: 1.2em;
    position: absolute;
    margin-top: 50px;
    text-align: center;
    margin-left: 175px;
    width: 30%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.meilleurfilm
{
    color: whitesmoke;
    margin-bottom: 60px;
    font-size: 2em;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  
}
.titre_categorie
{
    color: whitesmoke;
    margin-bottom: 60px;
    font-size: 2em;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/* Carousels */
.carousel1, .carousel2, .carousel3, .carousel4
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.element img
{
    max-width: 300px;
    height: auto;
    transform: scale(1.3);
}
.element img:hover
{
    cursor: pointer;
    transform: scale(1.4);
}
/* Carousels couleurs de fond */
.color_box
{
    background-color: rgb(26, 26, 26);
    box-shadow: 0px 6px 18px 18px rgba(119, 119, 126, 0.2);
    margin-top: 90px;
    margin-bottom: 90px;
    padding-top: 10px;
    padding-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
/*Bouton de naviguation*/

.buttonnext img, .buttonprev img
{
    max-width: 100px;
    height: auto;
}
.buttonnext, .buttonprev
{
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;

}
.buttonnext img:hover, .buttonprev img:hover
{
    max-width: 110px;
    height: auto;
}
.buttonnext:hover
{
    margin-right: -10px;
}
.buttonprev:hover
{
    margin-left: -10px;
}
.buttonnext:active
{
    margin-right: 0px;
}
.buttonprev:active
{
    margin-left: 0px;
}
/* Fenêtre modale */
.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.4);
}
.modal_content
{
    background-color: rgb(26, 26, 26);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation: animetest;
    animation-duration: 0.6s;
    overflow: auto;
}
@keyframes animetest {
    from {opacity: 0;}
    to {opacity: 1;}
}
.close
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* Contenues Fenêtre modale */
.modal_movie_title
{
    position: fixed;
    margin-left: 45%;
    margin-top: -15px;
    color: whitesmoke;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.movie_image
{
    float: left;
    height: auto;
    width: 25%;
    margin-right: 20px;
}
#model_body div
{
    color: whitesmoke;
    margin-top: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.resume
{
    width: 80%;
}
/* 1920x1080 */
@media (max-width: 1920px)
{
    .top_resume
    {
        font-size: 0.8em;
        margin-top: -30px;
        margin-left: -35px;
    }
    .titre_video
    {
        font-size: 2em;
        margin-left: 280px;
    }
    .play
    {
        font-size: 1em;
        display: block;
        margin-left: 340px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .element img
    {
        max-width: 230px;
        height: auto;
    }
    .buttonnext img, .buttonprev img
    {
        max-width: 80px;
        height: auto;
    }
    .buttonnext img:hover, .buttonprev img:hover
    {
        max-width: 90px;
        height: auto;
    }
    .titre_categorie, .meilleurfilm
    {
        font-size: 1.5em;
    }
    .modal
    {
    top: -27%;
    }
    .modal_content
    {
        font-size: 0.8em;
    }
    .movie_image
    {
        height: auto;
        width: 35%;
    }
    header
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        height: 40px;
        line-height: 40px;
        background-color: rgb(26, 26, 26);
        padding-top: 25px;
        padding-bottom: 25px;
    }
    header h1
    {
        font-size: 2em;
    }
    header ul
    {
        font-size: 1.5em;
    }
}